@model CMS.Models.paper

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>paper</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.assigned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.assigned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.accepted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.accepted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conf.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conf.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @if (this.User.IsInRole("Admin"))
    {
        @Html.ActionLink("Back to List", "IndexAdmin")
    }
    @if (this.User.IsInRole("Chair"))
    {
        @Html.ActionLink("Back to List", "IndexChair")
    }
    @if (this.User.IsInRole("Author"))
    {
       @Html.ActionLink("Back to List", "Index")
    }
    @if (this.User.IsInRole("Reviewer"))
    {
       @Html.ActionLink("Back to List", "IndexRev")
    }

</p>
