@model IEnumerable<CMS.Models.paper>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Paper</h2>

@*<p>
    @Html.ActionLink("Assign_Results", "AllAssign")
    </p>*@
<table class="display" id="data">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Body
            </th>
            <th>
                Is Assigned
            </th>
            <th>
                Is Accepted
            </th>
            <th>
                Author Name
            </th>
            <th>
                Conference
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.body)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.assigned)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.accepted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Conf.name)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Assign", "Assign", new { id = item.Id }) |
                    @Html.ActionLink("Review Result", "SeeResult", new { id = item.Id })  |
                    @Html.ActionLink("Reviewer assign result", "AllAssign", new { id = item.Id })

                </td>
            </tr>
        }
    </tbody>
</table>
